<!DOCTYPE html>
<html>
  <head>
    <title>gardenapi</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <style>
      body{
        background-color: black;
        color: green;
      }
      div{
        display: flex;
        justify-content: flex-start;
      }
      input{
        color: black;
        margin: 10px;
      }
      /* img{
        justify-content: flex-start;
      } */ 
    </style>
    <h1>{{ title }}</h1>
    <div>
      <img src="static/images/pot.png" alt="Pot Leaf">
      <p>
        <b>To many strains out there to choose from!?</b>
      <br>
      <br>
          When the choices are to overwhelming,<br> come to the garden
      and let our A.I. farmer make the selection for you.
      <input type="text" placeholder="Tell us how you feel.">
      </p>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
</html